<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置mybatis的缓存，延迟加载等等一系列属性-->
    <settings>
        <!--全局映射器启用缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!-- Specifies the JDBC type for null values when no specific JDBC type was provided for the parameter.
           Some drivers require specifying the column JDBC type but others work with generic values
          like NULL, VARCHAR or OTHER. -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <package name="com.changpu.spirit.entity"/>
    </typeAliases>

</configuration>